<!DOCTYPE html>
<html>
<head>
    <title>Users table</title>
</head>
    <body>
        <table>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>E-mail</th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td>
				<form action="/del-user/{{user.id}}" method="POST">
					<button type="submit" value="Delete user">Delete user</button>
				</form>
			</td>
		</tr>
		{% endfor %}
		</table>
    </body>
</html>
